/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover{
    color: #bf3535;
}
.uabb-gf-style .gform_wrapper .gfield_checkbox li label a:hover{
    color: #fff;
}
.uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label{
    padding-right: 0px;
}
.fl-page-nav ul.sub-menu{
    border-top: 3px solid #bf3535;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a{
    color: #bf3535;
}
.gform_wrapper select option{
    color: #000;
}
.fl-page-nav .navbar-nav li>a{
    padding: 15px 10px;
}
.storename .store-opening-hrs-container ul.store-opening-hrs{
    padding: 0px;
}
.fl-content-slider-navigation .slider-prev, .fl-content-slider-navigation .slider-next{
    background: rgba(191,53,53,0.3);
}
.uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label a{
    color: #fff;
}
.uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label a:hover{
    text-decoration:underline;
}

@media(max-width:1024px){
    .fl-page-bar .text-right{
        width: 100%!important;
        display: block;
        text-align: center
    }
    .fl-page-header-primary .fl-page-header-logo .fl-logo-img{
        max-width: 130px;
        width: 100%;
    }
    .fl-page-nav-right .fl-page-header-logo{
        text-align: center;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button{
        min-width: 10px;
    }
    .style-product_list .pro-container>.row>.col-md-5{
        flex: 0 0 41.66667%;
    }
    .style-product_list .pro-container>.row>.col-md-7{
        flex: 0 0 57.33333%;
    }
}
@media (max-width:768px){
    .footer-address-wrp .fl-module-content .fl-rich-text p{
        margin-bottom: 0px!important;
    }
    #product-list-top-filters .fl-col-group .fl-col{
        width: auto!important;
    }
    .facetwp-per-page-select{
        margin-right: 0px;
    }
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}

    .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col > .fl-col-content{
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        }
        .fl-builder-content-97052 .fl-col[data-node] .fl-col-content{
        margin: 0px;
        }
        .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img{
        padding: 0 20px;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495deccd.fl-row > .fl-row-content-wrap{
        padding-bottom: 30px;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decc9.fl-row > .fl-row-content-wrap{
        margin-top: -49px!important;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decd6 > .fl-module-content, .fl-builder-content-97052 .fl-node-5d7f5495dece3 > .fl-module-content{
        margin-top: 20px!important;
        }
        .fl-builder-content-97052 .fl-node-5dcd4a3e3035b.fl-module > .fl-module-content{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decba > .fl-col-content{
        margin-right: 10px;
        margin-left: 10px;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decba {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decb6.fl-row > .fl-row-content-wrap{
        padding-top: 0px;
        }
        .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        }
        .fl-builder-content-97052 .fl-node-5d83277bab2cd.fl-module > .fl-module-content{
        margin-top: 30px;
        padding: 0px 20px;
        }
        .fl-builder-content-97052 .fl-visible-desktop-medium{
        display: none;
        }
        .fl-builder-content-97052 .fl-visible-mobile{
        display: block;
        }
        .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8{
        flex-basis: 100%;
        }
        .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd9 {
        flex-basis: 100%;
        }
        .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
        }
        .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col > .fl-col-content {
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        text-align: center; 
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col > .fl-col-content {
        padding-top: 50px;
        padding-bottom: 50px;
        }
        .fl-builder-content-97052 .fl-node-5d7f5495dece2 > .fl-module-content{
        margin: 20px 0!important;
        }
}
 @media (max-width:767px){
     .facetwp-per-page-select{
        margin-right:auto;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
 }
 @media(max-width:670px){
    .fl-page-bar-nav>li>a{
        padding: 2px 4px!important;
    }
    .storename .store-opening-hrs-container .store-opening-hrs{
        padding-left: 0px;
    }
    .storename .store-opening-hrs-container .store-opening-hrs li{
        border-bottom: 1px solid #000;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }
 }
 